$color:red;
$couponStyle1: radial-gradient(circle at right 0, transparent 10px, red 0),
  radial-gradient(circle at right 100%, transparent 10px, red 0);
$couponStyle2: radial-gradient(circle at 0 0, transparent 10px, red 0),
  radial-gradient(circle at 0 100%, transparent 10px, red 0);